@media (min-width: 1080px){
  div.mainSideBar {
    margin: 2rem 0 0 1rem;
    width: 21.7rem;
    height: 17.81rem;
    border-radius: .2rem;
  
    background: var(--blackgray-900);
  
    filter: drop-shadow(4px 4px 4px rgb(0, 0, 0, 0.5));
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    transition: all .2s;
  
    button {
      margin-bottom: 1rem;
      width: 14.6rem;
      height: 3.56rem;
      border: none;
      border-radius: .2rem;
    
      color: var(--gray-600);
      background: var(--blackgray-600);
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 2rem;
      }
  
      span {
        font-size: 1.2rem;
        margin-left: 1rem;
      }
      
      transition: filter .5s;
      
      &:hover {
        opacity: .9;
        filter: drop-shadow(4px 4px 4px rgb(0, 0, 0, 0.5));
        transition: filter .2s;
      }
   }
  }
}

@media (max-width: 1079px){
  div.mainSideBar {
    height: 6rem;
    border-radius: .4rem;

    margin: 1rem 1rem 0 1rem;
  
    background: transparent;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    transition: all .2s;
  
    button {
      width: 14rem;
      height: 5rem;
      border: none;
      border-radius: .4rem;
    
      color: var(--gray-600);
      background: var(--blackgray-900);
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 3rem;
      }
  
      span {
          font-size: 1.3rem;
          margin-left: 1rem;
      }
      
      transition: filter .5s;
      
      &:hover {
        opacity: .9;
        filter: drop-shadow(4px 4px 4px rgb(0, 0, 0, 0.5));
        transition: filter .2s;
      }
   }
  }
}