header.principal {
  height: 5rem;

  border-bottom: 1px solid var(--blackgray-600);

  background: var(--blackgray-900);

  display: flex;
  align-items: center;
  justify-content: space-between;

  div.button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      margin: auto 1rem;
      width: 16rem;
      border-radius: .2rem;
    }
  }

  div.settings {
    margin-right: 1rem;

    button {
      border: none;
      background: transparent;
    }
  }
}