button.XButton {
  border: none;
  background: transparent;

  margin: .5rem .5rem 0 0;
  position: absolute;
  right: 0;

  & img {
    transition: all .3s;
    opacity: .7;
  }


  & img:hover {
    transition: all .3s;
    opacity: 1;
  }
}